<app-header></app-header>

<div class="main">
    <h3 class="heading">{{title}}</h3>
    <h1>Count : {{count}}</h1>
    <br>
    <button class="btn" (click)="getValue('add')">Increment</button>
    <button class="btn" (click)="getValue('minus')">Decrement</button>
    <input type="text" placeholder="Enter Your Name" value={{name}}> <!--Interpolation -->
    <input type="text" placeholder="Enter Your Name" [value]=name> <!-- Property Binding --> 

    <h1 *ngIf="show else elseBlock ">Here it shows this Paragraph. if it is true else will be print else block </h1>

    <ng-template #elseBlock>
      <h2>This is else Block</h2>
    </ng-template>

    <h3 *ngFor="let item of users">{{item}}</h3>  <!---  Here "item" is a varibale name of type "let"  -->

    <h2 *ngFor=" let item of userDetails">
      NAME: {{item.name}} **** EMAIL: {{item.email}} **** PHONE: {{item.phone}}
    </h2>
</div>

<app-forms [count] = "count"></app-forms>
<button class="btn" (click)="updateData()" > Update Child Component</button>
